.fade-in-first {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}

.fade-in-second {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in 1s forwards;
}

.fade-in-third {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in 2s forwards;
}

.fade-in-fourth {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in 4s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

